.hamburger-menu {
    position: relative;
  }
  
  .hamburger-icon {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
  }
  
  .menu-items {
    position: absolute;
    top: 4rem;
    right: 1rem;
    background: antiquewhite;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
  }
  
  .menu-items ul {
    list-style: none;
    padding: 0;
  }
  
  .menu-items li {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
  }
