/* styles.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.view-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: antiquewhite;
}

.not-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

.recipe-like-owner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.recipe-owner {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* margin-bottom: 0.5rem; */
}

.info {
  background-color: plum;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5rem;
}

.like-btn {
  margin-top: 1.5rem;
}

.recipe h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.recipe-meta {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  width: 80%;
}

.recipe-guides {
  grid-row: 2/4;
  grid-column: 2/4;
}

.info label {
  font-weight: bold;
}

.recipe-guides p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.review-recipe {
  margin-top: 1rem;
}

.review-recipe .form-text-area {
  width: 15rem;
  border: 1px solid black;
}

.reviews-bk-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: bold;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}
