
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
  --mainColorLight: #27031e;
  --mainColor: #a80863;
  --secondaryColor: #e6d6e5;
  --textColor: #000;
}
.review-header {
  text-align: center;
}


.reviews-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
}

.cards {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.7rem;
  margin: 2rem 0;
  border: 1px solid lightgray;
  border-radius: 20px;
}

.review-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 1rem;
}
.review-names{
  font-size: 23px;
  color: var(--mainColor);
}
.review-rating{
  border-bottom: 1px solid var(--mainColorLight);
}
.review-desc{
  font-size: 14px;
  
}

@media screen and (min-width: 1025px) {
  .reviews-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    justify-items: center;
  }

  .cards {
    display: block;
    width: 70%;
    height: auto;
  }
  .review-img {
    width: 100%;
    height: auto;
  }

  .review-img {
    width: 100%;
    height: auto;
  }


}
