* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home-container {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.filter {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.filter-form {
  display: flex;
  gap: 1rem;
  align-content: center;
  justify-content: flex-start;
  width: 75%;
  /* background-color: black; */
}

.filter-form input {
  height: 2rem;
}

.search-btn {
  align-self: center;
  height: 2.5rem;
  width: 6rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.dash-bk-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

/* Additional styling for the Recipe component */
/* #recipe-container {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */
