@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}
:root {
  --mainColorLight: #27031e;
  --mainColor: #a80863;
  --secondaryColor: #e6d6e5;
  --textColor: #000;
}
header {
  height: 80px;
  width: 100vw;
  padding: 2rem 4rem;
  background-color: rgb(100, 102, 113);
  /* position: fixed; */
  z-index: 100;
}

header .auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.create-note-ham {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  /* align-items: center; */
}

.home-btn {
  height: 2.5rem;
  width: 6rem;
}

.notification-badge {
  position: relative;
}

.notification-badge::after {
  content: attr(data-badge);
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* styles.css */
.nav {
  color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth {
  display: flex;
  align-items: center;
}

.no-auth {
  text-align: center;
}

.home-btn,
.create-recipe-btn {
  background-color: #fff;
  color: #007bff;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: bold;
}

.home-btn:hover,
.create-recipe-btn:hover {
  background-color: #f0f0f0;
}

.notification-badge {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.note-div span {
  background-color: #ff5b5b;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  font-size: 0.9rem;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .auth {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-btn,
  .create-recipe-btn {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
