.home-container {
  text-align: center;
  padding: 2rem;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

/* Additional styling for the Recipe component */
#recipe-container {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
