/* styles.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.mains-reviews {
  background-color: antiquewhite;
  padding: 2rem;
}

.page-btns-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  /* color: white */
}

.review {
  width: 100%;
  max-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selected {
  color: greenyellow;
}

.review-writer {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.review-comment {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.review-stars {
  font-size: 1.2rem;
  color: #ffd700; /* Yellow color for stars */
}
